.button {
    cursor: pointer;
    border: none;
}

.button_sideBar {
  padding: 10px;
  font-size: 18px;
  background-color: #2ed3ce;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  justify-content: flex-start;
}

.button_sideBar> img {
  width: 25px;
}

.button_mainItem {
  background-color: white;
  font-size: 18px;
  min-width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.button_mainItem > img {
  width: 70px;
  height: auto;
}


.button_categoryBar {
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: white;
    font-size: 18px;
    width: 120px;
    height: 50px;
    
}

.button_goToMain {
  margin-top: 20px;
  background-color: #2ed3ce;
  font-size: 18px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.button_per1 {
  background-color: #2ed3ce;
}
.button_bossam {
  background-color: #2ed3ce;
}
.button_jjigae {
  background-color: #2ed3ce;
}
.button_sushi {
  background-color: #2ed3ce;
}
.button_pizza {
  background-color: #2ed3ce;
}
.button_meat {
  background-color: #2ed3ce;
}
.button_night {
  background-color: #2ed3ce;
}
.button_pasta {
  background-color: #2ed3ce;
}
.button_chicken {
  background-color: #2ed3ce;
}
.button_jjajng {
  background-color: #2ed3ce;
}
.button_asian {
  background-color: #2ed3ce;
}
.button_rice {
  background-color: #2ed3ce;
}
.button_lunchbox {
  background-color: #2ed3ce;
}
.button_tteokbokki {
  background-color: #2ed3ce;
}
.button_cafe {
  background-color: #2ed3ce;
}
.button_fastfood {
  background-color: #2ed3ce;
}

.button_join {
  background-color: white;
  border: none;
  margin-bottom: 20px;
}

.button_join > img {
  width: 500px;
}

.button_join_subBtn {
  background-color: white;
  font-size: 16px;
  color: #25a7a2;
  text-decoration: underline;
}

.button_join_mainBtn {
  background-color: #2ed3ce;
  width: 312px;
  height: 53px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.button_join_addressBtn {
  background-color: #2ed3ce;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 5px;
}