.headerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 70px;
  background-color: #2ed3ce;
  border-radius: 10px;
  margin-bottom: 30px;
}

.adress {
  width: 15%;
    padding-left: 30px;
  font-size: 22px;
}

.headerBar > input {
  width: 50%;
  height: 45px;
  font-size: 18px;
  border: none;
  padding-left: 30px;
  margin-right: 17%;
  border-radius: 10px;
}
