.sideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2ed3ce;
    width: 250px;
    height: auto;
    padding: 30px 20px;
    border-radius: 10px;
}

.sideBar_logo{
    margin: 10px 0px;
}

.sideBar_logo .logo {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.sideBar_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;
}