.storeListForm {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10%;
    margin-bottom: 10px;
    padding: 10px 10px 30px 0px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    width: 750px;
    height: 175px;
}

.storeImg {
    max-width: 150px;
}

.store_info_text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.store_info_text h3 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.store_info_text h3 > img {
    width: 30px;
}