.storeInfoHeaderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44%;
  font-size: 18px;
  font-weight: 500;
  height: 22%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}

.header_main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_info1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 6%;
  gap: 10%;
  width: 100%;
}

.main_info1 > h2 {
    width: 40%;
    text-align: center;
}

.main_info1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  cursor: pointer;
}

.main_info1 .img {
  width: 30px;
}

.main_info1 > div {
    width: 10%;
    text-align: center;
}

.main_info2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.header_sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  margin: 2% 0 2% 0;
}

.header_sub > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.store_review_modal_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: fixed;
  background-color: white;
  z-index: 2;
}

.store_review_modal_header > h2 {
  width: 450px;
}

.store_review_modal_content {
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  width: 600px;
  position: relative;
  top: 75px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.store_review_modal_content > img {
  width: 25px;
  margin: 5px 0;
}



.store_review_modal_productName {
  background-color: white;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 20px;
  margin-top: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

