.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F5F7;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
}

.notFound_header {
  width: 760px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F3F5F7;
  position: fixed;
  top: 0;
}

.notFound_goToMain {
  margin-right: 180px;
}

.header_text {
  font-size: 22px;
  font-weight: bold;
  background-color: #2ed3ce;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFound_img {
  width: 750px;
}

.notFound_img > img {
    width: 100%;
}

.notFound_text {
    font-size: 22px;
    margin-bottom: 1%;
}
