.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 2%;
}

.profile > button {
  margin-bottom: 0;
}

.profile_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 33%;
  height: 15%;
  gap: 10%;
}

.profile_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  width: 100%;
}

.profile_orderList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2%;
  width: 33%;
  height: 47%;
  margin-top: 20px;
}

.orderHistory {
  padding: 10px 30px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.text_0 {
  font-size: 22px;
  font-weight: bold;
  text-align: start;
  width: 100%;
}

.text_1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}

.text_2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text_3 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.modal_header {
  position: fixed;
  width: 600px;
  height: 65px;
  margin-right: 10px;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3%;
  background-color: white;
}

.modal_content {
  width: 600px;
  position: relative;
  top: 65px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content_box {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 120px;
}

.modal_store_name {
  font-size: 20px;
  font-weight: bold;
}

.content_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_button_wrapper {
  position: fixed;
  bottom: calc(50dvh - 290px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  background-color: white;
}


.review-modal-star {
  display: flex;
  gap: 5px;
  margin-bottom: 5%;
}

.review-modal-star > img {
  cursor: pointer;
  width: 30px;
}

.review-modal-content {
  width: 100%;
  height: 80%;
  resize: none;
  border: none;
  outline: 0;
  font-size: 18px;
  margin-bottom: 3%;
}

.review-modal-content:focus {
  border: none;
}

.error-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.error-message img {
  width: 30px;
}
